In [89]:
import pandas as pd
import numpy as np

In [90]:
sub = pd.read_csv('data/prediction_2012_sub.csv', header=None)

In [91]:
sub.head()

     0
0  1.0
1  1.0
2  1.0
3  1.0
4  1.0

In [92]:
sub[0] = sub[0].apply(lambda x: int(x))

In [93]:
sub[0].head(20)

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
Name: 0, dtype: int64

In [94]:
sub[0] = sub[0].apply(lambda x: 2 if x == 0 else x)

In [97]:
sub['id'] = range(82820)

In [98]:
sub['PES1'] = sub[0]

In [99]:
sub = sub[['id', 'PES1']]

In [101]:
sub.head(30)

    id  PES1
0    0     1
1    1     1
2    2     1
3    3     1
4    4     1
5    5     1
6    6     1
7    7     1
8    8     1
9    9     1
10  10     1
11  11     1
12  12     1
13  13     1
14  14     1
15  15     1
16  16     1
17  17     1
18  18     1
19  19     1
20  20     2
21  21     1
22  22     1
23  23     1
24  24     1
25  25     1
26  26     2
27  27     1
28  28     1
29  29     2

In [102]:
sub.to_csv('data/prediction_2012_sub.csv', index=False)